{% extends "base.html" %}

{% block styles %}
    <style type="text/css">
        .request-container {
            display: grid;
            grid: '. request-obj .' 1fr / 3fr 18fr 3fr;
        }

    .request-obj {
        grid-area: request-obj;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="row my-3 justify-content-center">
        <div class="col-10 text-center">
            <p class="lead">Your bin id is <strong>{{ bin_id }}</strong>. Bin is stored 5 minutes after loading this
                page</p>
            <p class="lead">
                You can access stats at:
                <code id="bin_stats_link">{{ url_for('bin_stats', bin_id=bin_id, _external=True) }}</code>
                <button class="btn" style="font-size: 87.5%" onclick="copyToClipboard('#bin_stats_link')"><i class="far fa-copy"></i></button>
            </p>
            <p class="lead">
                The bin itself is located at:
                <code id="bin_location_link">{{ url_for('bin', bin_id=bin_id, _external=True) }}</code>
                <button class="btn" style="font-size: 87.5%" onclick="copyToClipboard('#bin_location_link')"><i class="far fa-copy"></i></button>
            </p>
        </div>
        {% for request in requests %}
            <div class="row justify-content-center mt-3 request-container" style="word-break: break-all;">
                <div class="request-obj">
                    <div class="card">
                        <div class="card-header">
                            <p class="h5">{{ request['method'] }} to {{ request['url'] }} at {{ request['time'] }}</p>
                        </div>
                        <div class="card-body">
                            <p class="h6">Headers:</p>
                            <ul>
                                {% for header in request['headers'] %}
                                    <li><strong>{{ header[0] }}</strong>: {{ header[1] }}</li>
                                {% endfor %}
                            </ul>
                            <p class="h6">Form:</p>
                            <ul>
                                {% for each in request['form'] %}
                                    <li><strong>{{ each[0] }}</strong>: {{ each[1] }}</li>
                                {% endfor %}
                            </ul>
                            <p class="h6">Args:</p>
                            <ul>
                                {% for arg in request['args'] %}
                                    <li><strong>{{ arg[0] }}</strong>: {{ arg[1] }}</li>
                                {% endfor %}
                            </ul>
                            <p class="h6">JSON:</p>
                            <p class="pl-3">{{ request['json'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function copyToClipboard(element) {
            let $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
{% endblock %}